@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');

/* https://colorhunt.co/palette/181c143c3d37697565ecdfcc */
:root {
    --primary-color: #181C14;
    --secondary-color: #3C3D37;
    --tertiary-color: #697565;
    --quaternary-color: #ECDFCC;
}

html,
body {
    min-height: 100%;
    font-family: "DM Sans", serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "DM Serif Display", serif;
}

.custom-header {
    background-color: var(--primary-color);
}

.navbar {
    background-color: var(--secondary-color);
}

section.full-height {
    min-height: calc(100vh - 118px);
    position: relative;
}

section#about {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--secondary-color) url('../images/about-bg.png') no-repeat center / cover;
    background-attachment: fixed;
    color: var(--quaternary-color);
}

section#recognising-issues {
    background-color: var(--tertiary-color);
}

footer a {
    display: inline-block;
}