/* https://colorhunt.co/palette/181c143c3d37697565ecdfcc */
:root {
    --primary-color: #181C14;
    --secondary-color: #3C3D37;
    --tertiary-color: #697565;
    --quaternary-color: #ECDFCC;
}

.custom-header {
    background-color: var(--primary-color);
}