@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');

/* https://colorhunt.co/palette/181c143c3d37697565ecdfcc */
:root {
    --primary-color: #181C14;
    --secondary-color: #3C3D37;
    --tertiary-color: #697565;
    --quaternary-color: #ECDFCC;
}

html,
body {
    min-height: 100%;
    font-family: "DM Sans", serif;
    scroll-padding-top: 66px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "DM Serif Display", serif;
}

.custom-header {
    background-color: var(--primary-color);
}

.navbar {
    background-color: var(--secondary-color);
}

section.full-height {
    padding: 40px 0;
    position: relative;
}

#about {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--secondary-color) url('../images/about-bg.png') no-repeat center / cover;
    background-attachment: fixed;
    color: var(--quaternary-color);
}

#recognising-issues {
    background-color: var(--tertiary-color);
}

#resources {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--secondary-color) url('../images/resources-bg.png') no-repeat center / cover;
    background-attachment: fixed;
}

#resources .card {
    max-width: 500px;
    margin: auto;
}

#resources .card-img-top {
    height: 400px;
}

footer a {
    display: inline-block;
}

@media screen and (min-width: 768px) {
    section.full-height {
        padding: 25vh 0;
    }
}

@media screen and (min-width: 992px) {
    #resources .card-img-top {
        height: 250px;
    }
}

@media screen and (min-width: 1200px) {
    #resources .card-img-top {
        height: 400px;
    }
}